/* 전체 레이아웃 */
.find-id-page-container {
    height: calc(100vh - 80px);
    overflow-y: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 80px;
}

.find-id-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.find-id-header {
    text-align: left;
    margin-bottom: 3rem;
}

.find-id-title {
    font-size: 25px;
    font-weight: 800;
    color: #6029b7;
    font-family: 'Pretendard', 'Noto Sans KR', Arial, sans-serif;
    margin-bottom: 3rem;
}

.find-id-divider-line {
    width: 899px;
    height: 0.5px;
    background-color: #9E9E9E;
}

/* 라벨 텍스트 공통 스타일 */
.find-id-label-text {
    color: #1A1A1A;
    font-size: 16px;
    font-weight: 600;
    margin-right: 4px;
}

.find-id-required {
    color: #F26464;
    font-weight: 500;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    .find-id-title {
        font-size: 28px;
    }

    .find-id-divider-line {
        width: 80vw;
    }
}

@media (max-width: 480px) {
    .find-id-title {
        font-size: 24px;
    }

    .find-id-divider-line {
        width: 90vw;
    }
}