/* 개인정보 페이지 기본 레이아웃 */
.signup-privacy-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.signup-privacy-page-container {
    height: calc(100vh - 80px);
    overflow-y: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 80px;
}