/* 마이페이지 닉네임 라벨 */
.mypage-nickname-label {
    margin-right: 50rem;
    margin-top: 4rem;
    color: #1A1A1A;
    font-size: 16px;
    font-weight: 600;
}

/* 마이페이지 닉네임 입력창 */
.mypage-nickname-container {
    position: relative;
    width: 612px;
    height: 65px;
    background-image: url('/src/assets/images/mypage-rectangle.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: -305px;
    margin-top: -43px;
}