/* 마이페이지 비밀번호 라벨 */
.mypage-password-label {
    margin-right: 49.5rem;
    margin-top: 3rem;
    color: #1A1A1A;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Pretendard', 'Noto Sans KR', Arial, sans-serif;
}

/* 마이페이지 비밀번호 입력창 */
.mypage-password-container {
    position: relative;
    width: 612px;
    height: 65px;
    background-image: url('/src/assets/images/mypage-rectangle.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: -305px;
    margin-top: -43px;
}