/* 로그아웃 버튼 */
.mypage-logout-button {
    cursor: pointer;
    transition: transform 0.2s ease;
    margin-top: 3rem;
    margin-right: 300px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 176px;
    height: 65px;
    background-image: url('/src/assets/images/mypage-logout.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

mypage-logout-button:hover {
    transform: scale(1.05);
}

.mypage-btn-logout {
    font-family: 'Pretendard', 'Noto Sans KR', Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    z-index: 1;
}