/* 회원가입 이용약관 구분선 스타일 */
.signup-terms-divider-line {
    width: 899px;
    height: 0.5px;
    background-color: #9E9E9E;
}

.signup-terms-bottom-divider-line {
    width: 899px;
    height: 0.5px;
    background-color: #9E9E9E;
    margin-top: 40px;
    margin-bottom: 50px;
}