/* 전체 레이아웃 */
.reset-password-page-container {
    height: calc(100vh - 80px);
    overflow-y: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 80px;
}

.reset-password-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.reset-password-header {
    text-align: left;
    margin-bottom: 3rem;
}

.reset-password-title {
    font-size: 25px;
    font-weight: 800;
    color: #6029b7;
    font-family: 'Pretendard', 'Noto Sans KR', Arial, sans-serif;
    margin-bottom: 3rem;
}

.reset-password-divider-line {
    width: 899px;
    height: 0.5px;
    background-color: #9E9E9E;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    .reset-password-title {
        font-size: 22px;
    }

    .reset-password-divider-line {
        width: 80vw;
    }
}

@media (max-width: 480px) {
    .reset-password-title {
        font-size: 20px;
    }

    .reset-password-divider-line {
        width: 90vw;
    }
}