/* 입력 필드 공통 스타일 */
.find-password-input-field {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    padding: 15px;
    padding-top: 10px;
    font-size: 16px;
    outline: none;
    color: #9E9E9E;
    font-family: 'Pretendard', 'Noto Sans KR', Arial, sans-serif;
}

.find-password-input-field:focus {
    outline: none;
    border-color: #6029b7;
}

.find-password-input-field::placeholder {
    color: #9E9E9E;
}

/* 반응형 - 입력창 */
@media (max-width: 768px) {
    .find-password-input-field {
        width: 100%;
        max-width: 350px;
    }
}