/* 전역 스타일 */
@import './components.css';
@import './navigation.css';
@import './sidebar.css';
@import './share.css';
@import './shareWriting.css';
@import './post.css';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body, #app {
    height: 100%;
    width: 100%;
    overflow: hidden
}
/* 추가로 넣고 싶은 전역 스타일들 */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

